@using System.Globalization;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("Head", required: true)
    <link href="@Context.GetAbsoluteUrl("/rss.xml")" type="application/rss+xml" rel="alternate" title="itovsbasement.net">
    <environment names="Development">
        <link rel="stylesheet" href="/css/site.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true">
    </environment>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a class="button red" href="/">ItovsBasement</a>
            <a class="button" href="/">LINK 2</a>
            <a class="button" href="/">LINK 3</a>
            <a class="button" href="/">LINK 4</a>
            <a class="button" href="/">LINK 5</a>
            <span class="danishtime">Denmark<br />@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("Romance Standard Time"))</span>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>