@model WebApp.Models.HomeModel
<div class="posts">
    @foreach (var post in Model.Posts)
    {
        <div class="post">
            <h2 class="post-title">
                <a href="@post.Url">@post.Title</a>
            </h2>
            <p>@post.Summary</p>
            @await Html.PartialAsync("_Tagged", post)
        </div>
    }
</div>