html {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 300px;
    background-color: #006666;
    padding: 10px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #647687
}

.button {
    display: block;
    padding: 10px;
    margin-bottom: 2px;
    background-color: #e0e0e0;
    border: none;
    text-align: center;
    text-decoration: underline;
    color: #2b4444;
    font-weight: bold;
}

.button.red {
    background-color: #CC0000;
    color: white;
}

.danishtime {
    display: block;
    padding: 50px;
    background-color: #3333FF;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

@media (max-width: 767px) {

    /* Styles for mobile devices */
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        order: 1;
    }

    .content {
        order: 2;
    }
}

a {
    color: #2B5997;
}

.post-date {
    color: #57575C;
}


.title {
    text-align: center;
}

.posts {
    width: 100%;
}

    .posts .post {
        width: 500px;
        height: 200px;
        float: left;
        box-sizing: border-box;
        background-color: #f2f2f2;
        padding: 20px;
        margin: 5px;
    }

    .posts .post h2 {
   line-height:0px;
    }